<p>Thank you for participating! </p>

<p>Here are your results in the task you just completed </p>

<div class="result" style="background-color:lightyellow">
	<b><%= showFeedback() %></b>
</div>


<p>We usually explain here how this measure works, but not in this example. You can click the button below to choose another example.</p>