<p>
In the next task, you will be presented with a set of words to evaluate as either "Pleasant" or "Unpleasant". 
This task requires that you classify the words as quickly as you can while making as few mistakes as possible.<br/><br/>
This part of the study will take about 6 minutes.
</p>



